body {
  font-family: Arial;
  padding-top: 70px;
    padding-bottom: 30px;
    padding-left: 75px;
    padding-right: 75px;
  background-color: black;
}
* {
  box-sizing: border-box;
}

.header {
  padding: 5px;
  text-align: left;
  background: rgb(62, 125, 207);
  color: white;
}

.header h1 {
  font-size: 20px;
}
h2 {color: rgb(62, 125, 207);
border-bottom-style: solid; 

}
 
.leftcolumn {   
  float: left;
  width: 75%;
  padding-left: 10px;
  padding-right: 10px;
  background: white;
  
}


.rightcolumn {
  float: left;
  width: 25%;
  background-color: lightgray;
  padding-left: 5%;
  padding-right: 5%;
} 
div {background-color: purple;
}